.navigation {
  @extend %cover;

  position: fixed;
  z-index: z('navigation');
  color: $color-quarter-spanish-white;
  pointer-events: none;
}

.navigation__link {
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 12.8rem;
  height: 2rem;
  font-size: 0;
  pointer-events: auto;
  transition: opacity .4s ease;

  &:hover {
    opacity: 0.5;
  }

  @include media('<phone') {
    top: 5rem;
    left: 5rem;
    width: 27.9rem;
    height: 4.3rem;
  }
}

.navigation__link__icon {
  display: block;
}

.navigation__list {

}

.navigation__list__item {
  position: absolute;
  top: 4rem;
  right: 4rem;
  pointer-events: auto;
}

.navigation__list__link {
  @extend %title-20;
  @extend %link--hidden;

  display: block;
}
